* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "tbcxregular";
  src: url(fonts/TBCXRegular.dee156cc.woff2);
}

body {
  color: #555f5f;
  background-color: #f9fafa;
  font-family: "tbcxregular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.page_wrapper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.padding_global {
  padding-left: 47px;
  padding-right: 47px;
}

.header {
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}

.header_container {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.header_text {
  padding: 24px 0 24px 0;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  cursor: pointer;
}

.header_text.active {
  border-bottom: 2px solid #001682;
  visibility: visible;
}

.header_dropdown-bg {
  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  z-index: 102;
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: 0;
  right: 0;
  transition: 0.4s;
  display: block;
  min-height: 191px;
  visibility: hidden;
  opacity: 0;
}

.header_dropdown-bg.visible {
  visibility: visible;
  opacity: 1;
}

.header_dropdown-link-block {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.arrow-link {
  grid-column-gap: 6px;
  color: #182cc0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.arrow-icon {
  color: #182cc0;
}

.arrow-link:hover {
  color: #3295ce;
}

.arrow-link:hover .arrow-icon {
  color: #3295ce;
}

.concept_link {
  color: inherit;
  width: 165px;
  line-height: 20px;
  text-decoration: none;
  cursor: "pointer";
  margin-right: auto;
}
.button_icon {
  z-index: 2;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-in-out;
  display: flex;
  position: relative;
}

.header_menu {
  height: 100%;
  gap: 32px;
  align-items: center;
  margin: 0 40px 0 40px;
  display: flex;
}

.product_text,
.offer_text,
.concept_text {
  height: 100%;
  display: block;
  color: #141719;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  line-height: 1.7;
}

.header_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: auto;
}

.search_button {
  transition: color 0.25s ease-in-out;
  cursor: pointer;
  line-height: 1.7;
  height: 24px;
  width: 24px;
}

.search_button:hover {
  color: #007aff;
}

.subscribe_buttons {
  text-decoration: none;
  color: #182cc0;
  grid-column-gap: 6px;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.25s ease-in-out;
  display: flex;
}

.subscribe_buttons:visited {
  color: #182cc0;
}

.subscribe_buttons:hover {
  color: #007aff;
}

.icon {
  height: 24px;
}

.lang_buttons {
  height: 36px;
  grid-column-gap: 4px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 700;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}

.lang_buttons:hover {
  background-color: #d2d7d8;
}

.scroll-page {
  height: 100vh;
  z-index: 99;
  overflow-x: hidden;
}

.heading {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.heading_text {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  color: #141719;
  font-weight: 500;
  font-size: 12px;
}

.heading_text span {
  display: flex;
}

.first_banner {
  padding-top: 32px;
  padding-bottom: 60px;
}

.banner_container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  position: relative;
  display: flex;
}

.banner_content {
  z-index: 2;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  padding: 95px;
  position: relative;
}

.banner_wrapper {
  max-width: 540px;
}

h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 26px;
  font-weight: 700;
}

.banner_spacer1 {
  height: 16px;
  width: 16px;
}

.banner_spacer2 {
  height: 24px;
  width: 24px;
}

.arrow_button {
  grid-column-gap: 6px;
  color: #fff;
  text-transform: uppercase;
  width: 151.16px;
  grid-column-gap: 6px;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  transition: background-image 2s ease;
  display: flex;
  position: relative;
}

.arrow_button:hover {
  background-image: linear-gradient(15deg, #3295ce, #3295ce);
}

.banner_img-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  border-radius: 6px;
  overflow: hidden;
}

/*from here code belongs to Second Banner*/

.second_banner-message {
  padding-top: 60px;
  padding-bottom: 60px;
}

.banner_message_text {
  color: #141719;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

/*from here code belongs to Third Banner*/

.third_banner-nakrebi {
  padding: 60px 0 60px 0;
  height: auto;
  overflow: hidden;
}

.slide_wrapper {
  height: 542px;
  display: flex;
}

.nakrebi_header {
  margin-bottom: 36px;
}

.left_slides {
  width: 540px;
}

.upper_slide {
  height: 256px;
  width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.upper_slide:hover img {
  transform: scale(1.02);
}

.bottom_slide:hover img {
  transform: scale(1.02);
}

.right_slide:hover img {
  transform: scale(1.02);
}

.bottom_slide {
  height: 256px;
  width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.upper_slide img,
.bottom_slide img,
.right_slide img {
  filter: brightness(70%);
}

.slide_content {
  color: white;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  position: absolute;
}

h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.slide_content a,
.button_icon {
  color: white;
  transition: color 0.3s ease-out;
  position: relative;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.slide_arrow:hover .button_icon,
.slide_arrow:hover a {
  color: #555f62;
  text-decoration: none;
}

.slide_arrow {
  display: flex;
  gap: 6px;
}

.bottom_slide {
  height: 256px;
  width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.right_slide {
  height: 542px;
  width: 540px;
  background-color: #001682;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  margin-left: 30px;
}

/*from here code belongs to Fourth Banner*/

.fourth_banner-message {
  padding-top: 60px;
  padding-bottom: 60px;
}

.numbers_container {
  gap: 30px;
  display: flex;
}

.numbers {
  width: 350px;
  height: 180px;
  padding: 40px 48px;
  flex-direction: column;
  row-gap: 20px;
  display: flex;
}

.numbers div {
  color: #141719;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.3;
}

.numbers p {
  font-weight: 600;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

/* fifth swiper styles */

.fifth_banner-swiper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.swiper_container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.swiper_wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 38px;
  cursor: grab;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.swiper_wrapper::-webkit-scrollbar {
  display: none;
}

.swiper_wrapper:hover {
  overflow-x: auto;
}
.award-swiper_wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 38px;
  cursor: grab;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.award-swiper_wrapper::-webkit-scrollbar {
  display: none;
}

.award-swiper_wrapper:hover {
  overflow-x: auto;
}

.swiper-slide {
  width: 350px;
  height: 391px;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
  user-select: none;
  transition: box-shadow 0.6s ease;
}

.swiper-slide:hover {
  box-shadow: 2px 0px 5px #e1e4e5, -2px 0px 5px #e1e4e5, 0px 30px 20px #e1e4e5;
}

.category-wrap {
  display: flex;
  gap: 10px;
}

.product_card {
  width: 348px;
  height: 212px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.product_card .banner_img {
  scale: 1.05;
}

.product_card:hover .banner_img {
  transform: translateY(-3px);
}

.product_card .logo {
  pointer-events: none;
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.product_card-content {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-weight: 700;
}

.product_card-content p {
  font-size: 11px;
}

.product_card-content h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.swiper_scrollbar {
  height: 2px;
  margin-right: 92px;
  background-color: #d1d5d6;
  border-radius: 1px;
  position: relative;
}

.swiper-scrollbar-drag {
  background: #182cc0;
  border-radius: 1px;
  position: relative;
  height: 100%;
  width: 300px;
  cursor: grab;
  transition: transform 0.3s ease;
}
.award_swiper_scrollbar {
  height: 2px;
  margin-right: 92px;
  background-color: #d1d5d6;
  border-radius: 1px;
  position: relative;
}

.award_swiper-scrollbar-drag {
  background: #182cc0;
  border-radius: 1px;
  position: relative;
  height: 100%;
  width: 300px;
  cursor: grab;
  transition: transform 0.3s ease;
}

.swiper_nav-arrows {
  grid-column-gap: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -11px;
  cursor: pointer;
  transition: fill 0.3s ease;
  color: #182cc0;
}

.main-slider-prev:hover,
.award_main-slider-prev:hover,
.main-slider-next:hover,
.award_main-slider-next:hover {
  color: #555f5f;
}

/* sixth banner styles */

.sixth_banner-digital {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content_wrapper {
  height: 414px;
  width: 1110px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content h2 {
  margin-bottom: 44px;
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.content p {
  margin-bottom: 24px;
}

.content_text {
  display: flex;
  width: 610px;
  flex-direction: column;
}

.get-app_buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
}

.app-button {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
}

.get-app_img {
  height: 90%;
  object-fit: contain;
  object-position: 100% 100%;
  position: relative;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.products_content {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  display: flex;
}

.card-title {
  color: #141719;
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
}

.card-teaser {
  overflow: hidden;
  font-size: 14px;
  -webkit-line-clamp: 4;
  display:-webkit-box;
  -webkit-box-orient: vertical;
}

/* seventh banner styles */

.seventh_banner-swiper {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* eighth banner styles */

.eighth_banner-private {
  padding-top: 32px;
  padding-bottom: 60px;
}

/* nineth section styles */

.award-swiper_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 38px;
  gap: 30px;
  cursor: grab;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.award-swiper_wrapper::-webkit-scrollbar {
  display: none;
}

.award-swiper_wrapper:hover {
  overflow-x: auto;
}

.award-slide {
  flex-shrink: 0;
  width: 350px;
  height: auto;
  position: relative;
  transition-property: transform;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.6s ease;
}

.award-slide:hover {
  box-shadow: 1px 0px 5px #e1e4e5, -1px 0px 5px #e1e4e5, 0px 20px 40px #e1e4e5;
}

.award-card_content {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  display: flex;
}

.award_logo {
  pointer-events: none;
  user-select: none;
}

/* footer styles */

.footer {
  color: #bcc5c8;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  display: block;
  padding-top: 60px;
}

.footer_top {
  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer_top-inner {
  display: flex;

  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}

.lang_dropdown {
  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer_main {
  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  background-color: #fff;
  padding-bottom: 45px;
}

.footer_main-inner {
  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.footer_dropdown-toggle {
  line-height: 1.7;
  font-size: 16px;
  padding-bottom: 24px;
  font-weight: 700;
}

.footer_dropdown-toggle-link {
  text-decoration: none;
  color: #141719;
}

.footer_dropdown-list {
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.footer_dropdown-link {
  text-decoration: none;
  color: #555f62;
}

.footer_dropdown-link:hover {
  color: #182cc0;
}

.footer_contact-list {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 32px;
  font-style: normal;
  display: flex;
}

.footer_contact-item {
  display: flex;
  gap: 10px;
  row-gap: 20px;
  text-decoration: none;
  color: inherit;
}

.footer_contact-item:hover {
  text-decoration: underline;
}

.footer_social-list {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-wrap: wrap;
  display: flex;
}

.footer_social-link {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  display: flex;
  color: inherit;
}

.footer_social-link:hover {
  color: #182cc0;
  background-color: #eee;
}

.footer_bottom {
  background-color: #fff;
  border-top: 1px solid #eef1f1;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 12px;
}

.footer_bottom-inner {
  color: #555f62;
  font-weight: 400;
  line-height: 1.7;
  font-size: 12px;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_bottom-logo-wrapper {
  gap: 8px;
  align-items: center;
  display: flex;
}

.footer_bottom-logo {
  width: 21px;
  align-items: center;
  display: flex;
}

.footer_bottom-links {
  grid-column-gap: 35px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.footer_bottom-link {
  cursor: pointer;
}

.footer_bottom-link:hover {
  color: #182cc0;
}
