* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'tbcxregular';
  src: url(fonts/TBCXRegular.dee156cc.woff2);
}

body {
  color: #555F5F;
  background-color: #f9fafa;
  font-family: 'tbcxregular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;

}

.banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.page_wrapper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.padding_global {
  padding-left: 47px;
  padding-right: 47px;

}

.header {
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}

.header_container {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.concept_link {
  color: inherit;
  width: 165px;
  line-height: 20px;
  text-decoration: none;
  cursor: "pointer";
  margin-right: auto;
}



.button_icon {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.header_menu {
  height: 100%;
  gap: 32px;
  align-items: center;
  margin: 0 40px 0 40px;
  display: flex;
}

.product_text,
.offer_text,
.concept_text {
  height: 100%;
  display: block;
  color: #141719;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  line-height: 1.7;
}

.header_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: auto;
}

.search_button {
  transition: color 0.25s ease-in-out;
  cursor: pointer;
  line-height: 1.7;
  height: 24px;
  width: 24px;

}

.search_button:hover {
  color: #007aff;
}

.subscribe_buttons {
  text-decoration: none;
  color: #182cc0;
  grid-column-gap: 6px;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.25s ease-in-out;
  display: flex;
}

.subscribe_buttons:visited {
  color: #182cc0;
}

.subscribe_buttons:hover {
  color: #007aff;
}

.icon {
  height: 24px;
}

.lang_buttons {
  height: 36px;
  grid-column-gap: 4px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 700;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}

.lang_buttons:hover {
  background-color: #d2d7d8;
}

.scroll-page {
  height: 100vh;
  z-index: 99;
  overflow-x: hidden;

}

.heading {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.heading_text {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  color: #141719;
  font-weight: 500;
  font-size: 12px;

}

.heading_text span {
  display: flex;
}

.first_banner {
  padding-top: 32px;
  padding-bottom: 60px;

}

.banner_container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  position: relative;
  display: flex;
}

.banner_content {
  z-index: 2;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  padding: 95px;
  position: relative;


}

.banner_wrapper {
  max-width: 540px;

}

h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 26px;
  font-weight: 700;
}

.banner_spacer1 {
  height: 16px;
  width: 16px;
}

.banner_spacer2 {
  height: 24px;
  width: 24px;
}

.arrow_button {
  grid-column-gap: 6px;
  color: #fff;
  text-transform: uppercase;
  width: 151.16px;
  grid-column-gap: 6px;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: all .25s ease-in-out;
  display: flex;
  position: relative;
}

.arrow_button:hover {
  background-color: #3295ce;

}


.banner_img-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .7;
  border-radius: 6px;
  overflow: hidden;
}

/*from here code belongs to Second Banner*/
.second_banner-message {
  padding-top: 60px;
  padding-bottom: 60px;
}

.banner_message_text {
  color: #141719;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

/*from here code belongs to Third Banner*/

.third_banner-nakrebi {
  padding: 60px 0 60px 0;
  height: auto;
  overflow: hidden;
}


.slide_wrapper {
  height: 542px;
  display: flex;
}

.nakrebi_header {
  margin-bottom: 36px;
}

.left_slides {
  width: 540px;
}

.upper_slide {
  height: 256px;
  width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.upper_slide:hover img {
  transform: scale(1.02);
}

.bottom_slide:hover img {
  transform: scale(1.02);
}

.right_slide:hover img {
  transform: scale(1.02);
}

.bottom_slide {
  height: 256px;
  width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  position: relative;

}

.upper_slide img,
.bottom_slide img,
.right_slide img {
  filter: brightness(70%);
}

.slide_content {
  color: white;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  position: absolute;
}

h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.slide_content a,
.button_icon {
  color: white;
  transition: color .3s ease-out;
  position: relative;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

}

.slide_arrow:hover .button_icon,
.slide_arrow:hover a {
  color: #555f62;
  text-decoration: none;
}

.slide_arrow {
  display: flex;
  gap: 6px;
}

.bottom_slide {
  height: 256px;
  width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;

}

.right_slide {
  height: 542px;
  width: 540px;
  background-color: #001682;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  margin-left: 30px;
}

/*from here code belongs to Fourth Banner*/
.fourth_banner-message {
  padding-top: 60px;
  padding-bottom: 60px;

}

.numbers_container {
  gap: 30px;
  display: flex;
}

.numbers {
  width: 350px;
  height: 180px;
  padding: 40px 48px;
  flex-direction: column;
  row-gap: 20px;
  display: flex;

}

.numbers div {
  color: #141719;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.3;
}

.numbers p {
  font-weight: 600;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

/* swiper styles */

.swiper_container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;

}

.swiper_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 38px;
  cursor: grab;
  -webkit-overflow-scrolling: touch;
}

.swiper_wrapper::-webkit-scrollbar {
  display: none;
}

.swiper_wrapper:hover {
  overflow-x: auto;
}

.swiper-slide {
  width: 350px;
  height: 391px;
  margin-right: 30px;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
  user-select: none;
  transition: box-shadow 0.8s ease;
}

.swiper-slide:hover {
  box-shadow: 2px 0px 5px #e1e4e5, -2px 0px 5px #e1e4e5, 0px 30px 20px #e1e4e5;
}

.category-wrap {
  display: flex;
  gap: 10px;
}


.product_card {
  width: 348px;
  height: 212px;
  position: relative;
  z-index: 1;

}

.product_card .logo {
  pointer-events: none;
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.product_card-content {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-weight: 700;
}

.product_card-content p {
  font-size: 11px;

}

.product_card-content h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.swiper_scrollbar {
  height: 2px;
  margin-right: 92px;
  background-color: #d1d5d6;
  border-radius: 1px;
  position: relative;
}

.swiper-scrollbar-drag {
  background: #182cc0;
  border-radius: 1px;
  position: relative;
  height: 100%;
  width: 300px;
  transition: transform 0.3s ease;
}

.swiper_nav-arrows {
  grid-column-gap: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -11px;
}